.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px;
}

h1 {
  font-size: 50px;
  color: #222233;
}

input {
  margin-bottom: 10px;
  width: 102%;
  min-height: 30px;
  border: 2px solid #6c63b7;
  border-radius: 5px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  font-size: 15px;
}

button {

  width: 105%;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #3c3670;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #6c63b7;
}

.TemperatureResult {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #222233;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
  
  button{
    width: 108%;
  }
 
}
