.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px; 
}

h1 {
  font-size: 40px; 
}

input {
  margin-bottom: 10px;
  width: 100%; 
  min-height: 30px;
  border: 2px solid #0f476d;
  border-radius: 5px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  font-size: 15px;
}

button {
  width: 100%; 
  margin-bottom: 10px;
  padding: 8px;
  background-color: #111369;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #111369;
}

.TemperatureResult {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  button,
  input {
    width: 100%;
  }
}
